.adopt_content {
    width:1024px;
    min-height:100px;
    margin:2em auto;
}
.adopt_detail {
    width:250px;
    height:250px;
    margin-left:4.8px;
    margin-bottom:0.5em;
    position:relative;
    float:left;
    border-radius:3px;
    background-color:rgb(128, 128, 128);
}

.adopt_detail img {
    width:250px;
    height:250px;
    border-radius:3px;
    z-index:0;
}

.adopt_detail:hover div{
    display:block;
}
.adopt_detail_show {
    height:250px;
    width:250px;

    position:relative;
    top:-255px;
    left:0;
    border-radius:3px;
    box-shadow:5px 5px 5px rgba(0, 0, 0,0.5);
    background:rgba(255, 255, 255,0.2);
    z-index:100;
}

.adopt_detail_show a,p{
    color:rgb(255, 255, 255);
    margin:1em;
    font-family:FangSong;
}
.adopt_detail_show h4{
    font-family:FangSong;
    display:inline-block;
    color:rgb(255, 255, 255);
    margin:0.5em 1em;
}
.adopt_detail_show h5{
    display:block;
    color:rgb(255, 255, 255);
}
.adopt_detail_show span{
    display:inline-block;
    line-height:1em;
    color:rgb(255, 255, 255);
}
