.adopt_deal_main{
    width:1024px;
    min-height:100px;
    margin:2em auto;
}
.adopt_deal_an img{
    width:250px;
    height:250px;
    box-shadow:2px 2px 2px rgb(229, 229, 230);
}
.adopt_deal_an > div{
    float:left;
}
.adopt_deal_d{
    margin:2em; 
}
.adopt_deal_form{
    width:1024px;
    margin-top:2em;
}
.adopt_deal_form > h2{
    color:rgba(231,129,112,1);
}
.adopt_f{
    width:20em;
    margin:2em auto;
}
.adopt_f span{
    height:44px;
    display:inline-block;
    width:5em;
    text-align:right;
}
.adopt_f input{
    margin-left:1.5em;
    width:13.5em;
    height:2em;
    border:solid rgb(200, 200, 200) 1px;
    border-radius:3px;
}
.adopt_f input[type="radio"]{
    display:inline-block;
    width:3em;
    line-height:4em;
    margin-left:3em;
    height:1em;
}
.adopt_f input[type="submit"]{
    margin:0;
    width:18em;
    background-color:rgba(4,156,219,1);
    color:white;
    border:none;
    border-radius:3px;
    font-size:1em;
}
hr{

}