body{
    width:100%;
    background:rgb(248,248,248);
}
*{
    margin:0;
    padding:0;
}
header{
    height:3em
}
.manage_main{
    width:100%;
    margin:0 auto;
    min-height:100px;
}
.manage_left{
    width:30%;
    height:100%;
    float:left;

}
.manage_left ul{
    list-style:none;
}
.manage_left ul li{
    line-height:2.5em;
    text-align:center;
}
.manage_right{
    width:69%;
    min-height:1000px;
    border-left:solid rgb(220,220,220);
    float:left;
    background-color:rgb(255, 255, 255);
}

.manage_right ul{
    list-style:none;
}

.manage_right ul li input{
    width:20em;
    line-height:1.5em;
}
.manage_right ul li span{
    display:inline-block;
    width:10em;
    margin:1em;
}

.manage_right ul li div{
    width:30em;
    margin-left:10em;
}